<% title get_filename(@file.filename) + " • Droplet.pw" %>
<header>
  <a id="home" href="/"><img src="/assets/dropleticon.png /"></a>
  <a id="direct" href="<%=request.protocol + request.host_with_port + "/" + @file.slug%>/<%=get_filename(@file.filename)%>">Direct Link</a>
</header>
<section id="content" style="padding-top: 35px;">
  <% if @file.filetype == "image" %>
       <img class="img-responsive" src="<%=request.protocol + request.host_with_port + "/" + @file.slug%>/<%=get_filename(@file.filename)%>">
  <% else %>
       <h3><%=get_filename(@file.filename)%></h3>
       <a href="<%=request.protocol + request.host_with_port + "/" + @file.slug%>/<%=get_filename(@file.filename)%>" class="btn btn-primary btn-lg" role="button" style="color: #fff;">Download</a>
  <% end %>
</section>